<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/register.css" />
    <script src="https://kit.fontawesome.com/ff9bcdc703.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Mercado Liebre</title>
</head>

<body>
    <header class="header">
        <div class="cabecera">
            <div class="logo">
                <a href="/">
                    <img src="/images/logo-mercado-liebre.svg" alt="" class="logo">
                </a>
                <div class="form_rubros">
                    <form action="" method="POST">
                        <div class="buscarRubro">
                            <input type="text" name="buscarRubro" id="buscarRubro" placeholder="Buscar Rubro de interés">
                        </div>
                        <div class="rubros">
                            <i class="fas fa-search"></i>
                        </div>

                        <div class="hand-holding">
                            <i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin Tarjeta de Crédito
                        </div>
                </div>
            </div>

            <div class="navbar">
                <ul>
                    <li><a href="#"> Ofertas</a></li>
                    <li> | </li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li> | </li>
                    <li><a href="#">Vender</a></li>
                    <li> | </li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </div>
            <div class="login-navbar">
                <ul>
                    <li><a href="register">Creá tu Cuenta</a> <i class="fas fa-address-card"></i> </li>
                    <li><a href="login">Ingresá</a> <i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="#">Mis Compras</a> <i class="fas fa-shopping-basket"></i> </li>
                </ul>
            </div>

            <div class="barras-burger">
                <i class="fas fa-bars burger fa-2x"></i>
            </div>

    </header>
    <section class="banner">
        <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
    </section>
    <main>

        <section>

            <div class="titulos">
                <h2>Basado en tu última visita</h2>
            </div>
            <div class="section">
                <article class="articulosEnVenta">
                    <div class="imgArticulo">
                        <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="100%" />

                    </div>
                    <div class="boxArticulo">
                        <div class="camion">
                            <p><i class="fas fa-truck"></i></p>
                        </div>
                        <div class="precios">
                            <h3> $6.770</h3>
                        </div>
                        <div class="descuento">
                            <p> 40% OFF</p>
                        </div>
                        <div class="detalle">
                            <p> Cafetera Moulinex</p>
                        </div>
                    </div>
                </article>
                <article class="articulosEnVenta">
                    <div class="imgArticulo">
                        <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" width="100%" />
                    </div>
                    <div class="boxArticulo">
                        <div class="camion">
                            <p><i class="fas fa-truck"></i></p>
                        </div>
                        <div class="precios">
                            <h3>$230.000</h3>
                        </div>
                        <div class="descuento">
                            <p> 20% OFF</p>
                        </div>
                        <div class="detalle">
                            <p> MacBook Pro 2019</p>
                        </div>
                    </div>

                </article>

                <article class="articulosEnVenta">
                    <div class="imgArticulo">
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" width="100%" />
                    </div>
                    <div class="boxArticulo">
                        <div class="camion">
                            <p><i class="fas fa-truck"></i></p>
                        </div>
                        <div class="precios">
                            <h3> $70.500</h3>
                        </div>
                        <div class="descuento">
                            <p> 10% OFF</p>
                        </div>
                        <div class="detalle">
                            <p> Samsung Galaxy S10</p>
                        </div>
                    </div>
                </article>

                <article class="articulosEnVenta">
                    <div class="imgArticulo">
                        <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTvSamsung 43" width="100%" />
                    </div>
                    <div class="boxArticulo">
                        <div class="camion">
                            <p><i class="fas fa-truck"></i></p>
                        </div>
                        <div class="precios">
                            <h3> $23.200</h3>
                        </div>
                        <div class="descuento">
                            <p> 5% OFF</p>
                        </div>
                        <div class="detalle">
                            <p>SmartTvSamsung 43</p>
                        </div>
                    </div>

                </article>
            </div>
        </section>

        <section>
            <div class="titulos">
                <h2>Ofertas</h2>
            </div>
            <div class="section">
                <article class="articulosEnVenta">
                    <div class="imgArticulo">
                        <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="100%" />
                    </div>
                    <div class="boxArticulo">
                        <div class="camion">
                            <p><i class="fas fa-truck"></i></p>
                        </div>
                        <div class="precios">
                            <h3> $6.770</h3>
                        </div>
                        <div class="descuento">
                            <p> 40% OFF</p>
                        </div>
                        <div class="detalle">
                            <p> Cafetera Moulinex</p>
                        </div>
                    </div>

                </article>
                <article class="articulosEnVenta">
                    <div class="imgArticulo">
                        <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" width="100%" />
                    </div>
                    <div class="boxArticulo">
                        <div class="camion">
                            <p><i class="fas fa-truck"></i></p>
                        </div>
                        <div class="precios">
                            <h3>$230.000</h3>
                        </div>
                        <div class="descuento">
                            <p> 20% OFF</p>
                        </div>
                        <div class="detalle">
                            <p> MacBook Pro 2019</p>
                        </div>
                    </div>

                </article>

                <article class="articulosEnVenta">
                    <div class="imgArticulo">
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" width="100%" />
                    </div>
                    <div class="boxArticulo">
                        <div class="camion">
                            <p><i class="fas fa-truck"></i></p>
                        </div>
                        <div class="precios">
                            <h3> $70.500</h3>
                        </div>
                        <div class="descuento">
                            <p> 10% OFF</p>
                        </div>
                        <div class="detalle">
                            <p> Samsung Galaxy S10</p>
                        </div>
                </article>

                <article class="articulosEnVenta">
                    <div class="imgArticulo">
                        <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTvSamsung 43" width="100%" />
                    </div>
                    <div class="boxArticulo">
                        <div class="camion">
                            <p><i class="fas fa-truck"></i></p>
                        </div>
                        <div class="precios">
                            <h3> $23.200</h3>
                        </div>
                        <div class="descuento">
                            <p> 5% OFF</p>
                        </div>
                        <div class="detalle">
                            <p>SmartTvSamsung 43</p>
                        </div>
                    </div>

                </article>
                </div>
        </section>
        <footer class="footer">
            <div class="feet">
                <div class="onefoot">
                    <i class="fas fa-credit-card fa-2x"></i>
                    <h4>Paga con Tarjeta o en efectivo</h4>
                    <p>
                        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                    </p>
                </div>
                <div class="onefoot">
                    <i class="fas fa-gift fa-2x"></i>
                    <h4>Envío gratis desde $ 2.500</h4>
                    <p>
                        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
                    </p>
                </div>
                <div class="onefoot">
                    <i class="fas fa-user-shield fa-2x"></i>
                    <h4>Seguridad de principio a fin</h4>
                    <p>
                        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
                    </p>
                </div>
            </div>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </footer>
        </div>
    </main>
</body>

</html>