<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.google.com/icons?selected=Material%20Icons%20Outlined%3Asearch" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c877c0219a.js" crossorigin="anonymous"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/carousel/">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="js/bootstrap.js">
    <link href="carousel.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <title>We Byte</title>
</head>

<header class="header">
    <div class="cabecera">
        <div class="logo">
            <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre"> </i>
        </div>
    </div>
    <a href="/">Volver a la pagina principal</a>
</header>
<main>
    <div class="form_login">
        <form action="" method="POST">
            <label><h4> INGRESA A TU CUENTA</h4></label>
            <ul>
                <li>
                    <div class="fl_usuario">
                        <input type="text" name="nombreUsuario" id="nombreUsuario" required placeholder="* Ingresa tu Nombre de Usuario">
                    </div>
                </li>
                <div class="fl_password">
                    <label> Ingresa tu contaseña</label>
                    <li>
                        <input type="password" name="passwordUsuario" id="passwordUsuario" required placeholder="* Contraseña">
                    </li>
                </div>
                <br>
                <div class="fl_registro">
                    <a><button type="submit">Ingresar a mi cuenta</button></a>
                </div>
                <br>
                <div class="fl_limpiar">
                    <h3><button type="reset">Limpiar Todo</button></h3>
                </div>
                <div class="fl_olvido">
                    <label>Olvidaste tu contraseña?</label>
                </div>
                <div class="fl_noRegistrado">
                    <li><a href="/register"> No estas Registrado? </a></li>

                </div>
        </form>
    </div>
</main>

<footer class="footer">
    <div class="pie">
        <i class="fas fa-credit-card fa-2x"></i>
        <h4>Paga con Tarjeta o en efectivo</h4>
        <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
    </div>
    <div class="pie">
        <i class="fas fa-gift fa-2x"></i>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>
            Solo por estar fristrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
        </p>
    </div>
    <div class="pie">
        <i class="fas fa-user-shield fa-2x"></i>
        <h4>Seguridad de principio a fin</h4>
        <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
        </p>
    </div>
    <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

    </body>

</html>