<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/register.css" />
    <script src="https://kit.fontawesome.com/ff9bcdc703.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Mercado Liebre</title>
</head>

<body>
    <header class="header">
        <div class="cabecera">
            <div class="logo">
                <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre"> </i>
            </div>
        </div>
        <a href="/">Volver a la pagina principal</a>

    </header>

    <main>
        <div class="form_register">
            <form action="" method="POST">
                <label><h3> REGISTRATE</h3></label>
                <ul>
                    <li>
                        <div class="fr_nombre">
                            <input type="text" name="nombreApellido" id="nombreApellido" required placeholder="* Nombre y Apellido">
                        </div>
                    </li>
                    <div class="fr_usuario">
                        <li>
                            <input type="text" name="nombreUsuario" id="nombreUsuario" required placeholder="* Ingresa un Nombre de Usuario">
                        </li>
                    </div>

                    <br>
                    <li>
                        <div class="fr_email">
                            <input type="email" name="emailUsuario" id="emailUsuario" required placeholder="* Correo Electronico">
                        </div>
                        <!-- INICIA RESTO DE DATOS PERSONALES Y CONTRASEÑA-->
                        <li>
                            <div class="fr_fechaNac">
                                <label class="fr_lblfechNac"> Tu Fecha Nacimiento </label>
                                <input type="date" name="fechaNac" id="fechaNac" required>
                            </div>
                        </li>
                        <div class="fr_password1">
                            <label> Ingresa y repite tu contaseña</label>
                            <li>
                                <input type="password" name="passwordUsuario1" id="passwordUsuario1" required placeholder="* Contraseña">
                            </li>
                        </div>
                        <div class="fr_password2">
                            <li>
                                <input type="password" name="passwordUsuario2" id="passwordUsuario2" required placeholder="* Repetir Contraseña">
                            </li>
                        </div>

                    </li>
                    <!--INICIA ETIQUETAS DE DOMICILIO-->
                    <div class="fr_domicilio">
                        <label> Domicilio de Entrega</label>
                    </div>

                    <div class="fr_calle">
                        <li>
                            <input type="text" name="calle" id="calle" placeholder="Calle">
                        </li>
                    </div>

                    <div class="fr_altura">
                        <li>
                            <input type="text" name="altura" id="altura" placeholder="Nro">
                        </li>
                    </div>
                    <div class="fr_piso">
                        <li>
                            <input type="text" name="piso" id="piso" placeholder="Piso">
                        </li>
                    </div>
                    <div class="fr_dpto">
                        <li>
                            <input type="text" name="dpto" id="dpto" placeholder="Depto">
                        </li>
                    </div>
                    <div class="fr_cp">
                        <li>
                            <input type="text" name="cp" id="cp" placeholder="CP">
                        </li>
                    </div>
                    <div class="fr_ciudad">
                        <li>
                            <input type="text" name="ciudad" id="ciudad" placeholder="Ciudad">
                        </li>
                    </div>
                    <div class="fr_provincia">
                        <li>
                            <input type="text" name="provincia" id="provincia" placeholder="Provincia">
                        </li>
                    </div>
                    <div class="fr_pais">
                        <li>
                            <input type="text" name="pais" id="pais" placeholder="Pais">
                        </li>
                    </div>
                    <!--</div>-->

                </ul>
                <div class="fr_checkbox"> Categorias de Interes
                    <br>
                    <input type="checkbox" name="electro" id="a"> Electro
                    <input type="checkbox" name="moda" id="b"> Moda
                    <input type="checkbox" name="hogar" id="c"> Hogar
                    <input type="checkbox" name="jugueteria" id="d"> jugueteria
                    <input type="checkbox" name="vidaSana" id="e"> Vida Sana
                </div>
                <br>
                <br>
                <div class="tuFoto">
                    <label for="myfile">Mi Foto:</label>
                    <input type="file" id="myfile" name="myfile">
                    <br>
                </div>

                <div class="fr_registro">
                    <button type="submit">Registrarme</button>
                </div>
                <br>
                <div class="fr_limpiar">
                    <h3><button type="reset">Limpiar Todo</button></h3>
                </div>
            </form>
        </div>
    </main>

    <footer class="footer">
        <div class="pie">
            <i class="fas fa-credit-card fa-2x"></i>
            <h4>Paga con Tarjeta o en efectivo</h4>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
            </p>
        </div>
        <div class="pie">
            <i class="fas fa-gift fa-2x"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>
                Solo por estar fristrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
            </p>
        </div>
        <div class="pie">
            <i class="fas fa-user-shield fa-2x"></i>
            <h4>Seguridad de principio a fin</h4>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
            </p>
        </div>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>